body {
  background-color: #fff;
}
.main-nav ul {
  margin: 0;
  padding: 0;
}
.main-nav ul li {
  float: left;
}
.main-nav ul li a {
  display: block;
  text-decoration: none;
}
.main-nav ul li a:hover {
  color: red;
}
col-1 {
  width: 100%;
}
col-2 {
  width: 50%;
}
col-3 {
  width: 33,3%;
}
