.mixin() {
	height: 500px;
}
.mixin(@color) {
	color:@color;
}
.mixin(@width) {
	width:@width;
}
.mixin(@color, @width) {
	color: @color;
	width: @width;
}

.selector-1 {
	.mixin(red);
}
.selector -2 {
	.mixin(red;20px);
}
